{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <h1>DASHBOARD</h1>
  <style>
/*Dashboard table*/
.table-bordered td, .table-bordered th {
   border: 1px solid #dee2e6;
}
.thead-custom th {
   background-color: #ffc000;
   color: black;
}
.table-striped tbody tr:nth-of-type(odd) {
   background-color: #ffe8cb;
}

/*legend table*/
.legend-row th {
   background-color: #dbdbdb;
   color: black;
   font-weight: bold; /* Make the text bold */
}
.normal-level {
   background-color: #ffff66;
   color: black; /* Make the text black to stand out against the background */
   font-weight: bold; /* Make the text bold */
}
.high-level {
   background-color: #ffc000;
   color: black; /* Make the text black to stand out against the background */
   font-weight: bold; /* Make the text bold */
}
.critical-level {
   background-color: #ff0000;
   color: rgb(0, 0, 0); /* Make the text white to stand out against the background */
   font-weight: bold; /* Make the text bold */
}

  </style>
  <h4>Date: January 11, 2024</h4>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-custom">
      <tr>
        <th scope="col">Crop Sample</th>
        <th scope="col">Pesticide Found (Active Ingredient)</th>
        <th scope="col">Pesticide Class</th>
        <th scope="col">Codex MRL</th>
        <th scope="col">Interpretation</th>
        <th scope="col">Recommendation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cavendish Banana</td>
        <td>Chlorpyrifos</td>
        <td>Organophosphate</td>
        <td>2 mg/kg</td>
        <td>Do not conform with Codex MRL; Toxic</td>
        <td>Diminish the concentration of pesticide treatment to less than or equal to 2mg/kg.</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-custom legend-row">
      <tr>
        <th scope="col" colspan="6">Legend:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="normal-level">Normal Level</td>
        <td class="high-level">High Level</td>
        <td class="critical-level">Critical Level</td>
      </tr>
    </tbody>
  </table>
  {% endblock %}
