@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

body {
  background: #cecece;
  height: 100vh;
}

.myHeader {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  background: rgba(174, 246, 148, 0.15);
  z-index: 10;
}

.myHeader .logo-container {
  grid-column: 2 / 6;
}

.myHeader .logo {
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-width: 200px;
}

.logo-text {
  display: inline-block;
  font-weight: 700;
  font-size: 2rem;
  color: white;
}

.myHeader .myNav {
  grid-column: 11;
  justify-self: end;
}

.myHeader .myNav ul {
  display: flex;
}

.myHeader .myNav ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.myHeader .myNav ul li a {
  padding: 1rem 2rem;
  font-size: 1rem;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  color: white;
}

.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(2, 66, 35, 0) 62.5%, #024223 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    url(img/aef8fb2cd567738619e6cf0ce2ed0336.jpg) center center,
    lightgray 50% / cover no-repeat;
}

.hero-logo svg {
  display: block;
  margin: 0 auto;
}

.hero-content {
  padding: 1rem 2rem;
  text-align: center;
  font-size: 2rem;
  color: #aef694;
}

.starter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.btn-starter {
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  background: #aef694;
  color: #111;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: padding 0.3s ease-in-out;
}

.btn-starter:hover {
  background-color: #faef9b;
  color: #272727;
  padding-right: 40px;
}

.btn-starter-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 10px;
  opacity: 0;
  transform: translateY(-50%);
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.btn-starter:hover .btn-starter-icon {
  opacity: 1;
  visibility: visible;
}

.hero-wave {
  bottom: 0;
  left: 0;
  height: 0px;
  z-index: 0;
}

/* welcome section */
.wrapper-welcome {
  display: grid;
  position: relative;
  align-items: end;
  justify-items: center;
  justify-content: center;
  background-color: #49874f;
  z-index: -1;
}

.welcome-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  margin-top: 20rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #49874f;
}

.welcome-container img {
  width: 100%;
  height: auto;
  grid-column: 2 / 6;
}

.welcome-description {
  grid-column: 7 / 12;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.5vw;
  color: #000000;
}

/* vision section */
.wrapper-vision {
  display: grid;
  position: relative;
  align-items: end;
  justify-items: center;
  justify-content: center;
  background-color: #6daa65;
  z-index: -1;
}

.vision-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  margin-top: 20rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #6daa65;
}

.vision-container img {
  width: 100%;
  height: auto;
  grid-column: 7 / 12;
}

.vision-description {
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.5vw;
  grid-column: 2 / 6;
  color: #000000;
}

/* mission section */
.wrapper-mission {
  display: grid;
  position: relative;
  align-items: end;
  justify-items: center;
  justify-content: center;
  background-color: #90cc7b;
  z-index: -1;
}

.mission-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  margin-top: 20rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #90cc7b;
}

.mission-container img {
  width: 100%;
  height: auto;
  grid-column: 2 / 6;
}

.mission-description {
  grid-column: 7 / 12;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.5vw;
  color: #000000;
}

.about-image {
  display: block;
  padding: 5px;
  border-radius: 10px;
  background: #d4f398;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Contact section */
.wrapper-contact {
  display: grid;
  position: relative;
  align-items: end;
  justify-items: center;
  justify-content: center;
  background-color: #9ee087;
  z-index: -1;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  margin-top: 20rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #9ee087;
}

.contact-description {
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.5vw;
  grid-column: 6 / 6;
  color: #000000;
}

/* Style for alert messages */
.alert {
  padding: 20px; /* Padding around the text */
  background-color: #f44336; /* Red background */
  color: white; /* White text */
  opacity: 1; /* Fully visible */
  transition: opacity 0.6s; /* Fade out over 600ms */
}

/* Style for success messages */
.alert.success {
  background-color: #4CAF50; /* Green background */
}

/* Style for close button */
.closebtn {
  margin-left: 15px; /* Space to the left of the button */
  color: white; /* White text */
  font-weight: bold; /* Bold text */
  float: right; /* Position to the right */
  font-size: 22px; /* Large text */
  line-height: 20px; /* Space between lines of text */
  cursor: pointer; /* Cursor changes to a hand when hovering over the button */
}

/* Style for close button when hovered over */
.closebtn:hover {
  color: black; /* Black text */
}

/* Style for dashboard container */
/* Style for box container */
.boxContainer {
  width: 300px; /* Same width as the image container */
  border: 2px solid #000; /* Add a border */
  padding: 20px; /* Add some padding */
  margin-bottom: 20px; /* Add some space below the box container */
  border-radius: 5px; /* Add a rounded border */
}

/* Style for level box */
.levelBox {
  width: 100%; /* Full width of the box container */
  height: 200px; /* Same height as the images */
  border: 2px solid #000; /* Add a border */
  border-radius: 15px; /* Add a rounded border */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a shadow */
  display: flex; /* Use flexbox to center the text */
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
}

/* Style for critical level box */
.levelBox.critical-level {
  background-color: #FF4500; /* Orange red */
}

/* Style for image container */
.imageContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Style for images */
.imageContainer img {
  width: 344px; /* Set a specific width */
  height: 304px; /* Set a specific height */
  object-fit: cover; /* This will make the images cover their frame */
  border: 2px solid #FAEF9B; /* Add a border */
  margin-right: 20px; /* Add some space to the right of the images */
  margin-left: 2px;
  border-radius: 15px; /* Add a rounded border */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.dateDashboard{
  color: #333; /* Make the table take up the full width of its container */
  font-size: 2em; /* Increase the font size */
  text-align: left; /* Align the text to the left */
}
/* Style for tables */
.table {
  width: 100%; /* Make the table take up the full width of its container */
  font-size: 1em; /* Increase the font size */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Style for table headers */
.table th {
  background-color: #FFE135; /* Set the background color of the headers */
  text-align: center; /* Align the text to the center */
  font-size: 1.2em; /* Increase the font size of the headers */
  padding: 15px; /* Adjust the padding around the data */
  border-radius: 5px;
}

/* Style for table data */
.table td {
  background-color: #FAEF9B; /* Set the background color of the data */
  text-align: center; /* Align the text to the center */
  padding: 15px; /* Adjust the padding around the data */
  border-radius: 5px;
}


/* Style for legend row */
.legend-row th {
  text-align: left; /* Align the text to the left */
}

.legend-row {
  background-color: #333; /* Set the background color of the legend row */
  color: #000000; /* Set the text color of the legend row */
}

/* Style for normal level */
.table td.normal-level {
  background-color: #eef072; /* Set the background color of the normal level */
  color: #000000; /* Set the text color of the normal level */
}

/* Style for high level */
.table td.high-level {
  background-color: #e69c2d; /* Set the background color of the high level */
  color: #000000; /* Set the text color of the high level */
}

/* Style for critical level */
.table td.critical-level {
  background-color: #FF4500; /* Set the background color of the critical level */
  color: #000000; /* Set the text color of the critical level */
}

/* Style for table results  */
/* Style for title */
.title {
  text-align: left;
  font-size: 2em;
  color: #333;
}

/* Style for table */
.tableResults {
  width: 100%; /* Make the table take up the full width of its container */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Style for table headers */
.tableResults th {
  background-color: #FFE135; /* Set the background color of the headers */
  text-align: center; /* Align the text to the center */
  font-size: 1.2em; /* Adjust the font size */
  padding: 15px; /* Adjust the padding around the data */
  border-radius: 5px;
  
}

/* Style for table data */
.tableResults td {
  background-color: #FAEF9B; /* Set the background color of the data */
  text-align: center; /* Align the text to the center */
  font-size: 1em; /* Adjust the font size */
  border-radius: 1px;
  padding: 15px; /* Adjust the padding around the data */
}

/* Style for container */
.tableContainer {
  width: 80%; /* Adjust this value as needed */
  margin: 0 auto; /* This will center the container */
}